page-dashboard {

    // disable scrolling
    .scroll-content {
        overflow: hidden;
    }

    .dashboard {
        background-color: color($colors, neutral);

        &__intro {
            color: color($colors, carbon);
            font-size: $fs-20;
            font-weight: 600;
            width: 100%;
            justify-content: center;
        }

        &__navbar-buttons button {
            margin-right: 5px;
        }

        &__img {
            width: 100%;
        }


        &__male-stats-icon {
            color: $color-male;
            font-weight: 600;
        }
        &__female-stats-icon {
            color: $color-female;
            font-weight: 600;
        }

        &__overview-card {
            width: 100%;
            margin: 20px 0;
        }
    }


}
