page-settings {

    .settings {

        &__content {

        }

        &__footer {
            text-align: center;
            padding: 20px 0;
        }

        &__apply-button {

        }

        &__language-img {
            background-color: red;
            width: 15px;
            height: 15px;
        }
    }
}
